*.root
*.o
*.so
*Dict*
*.txt
*.pdf
.~filelist
.vscode/
Calibrate-Result/

GetPositionSimplest
GetPositionSimplest2
ProcessOrigin
ReadData
treeread
GetResult
ReadOrigin
TestThreshold
DrawSignal
CheckData
CheckLogic
CaliOneDetector
CaliResult
CaliTest
GetPosition1
GetPositionSquare
GetPosition
ProcessPosition


ProcessTriangle
TestGetPosition
data/
lib/
lkdef/
bin/
obj/
Channels/
FitTest

*.dSYM
.DS_Store
sta.txt
rootlogon.C
ProcessCali
GetPositionResolution
GetPositionResolution2
Cali3Detectors
Cali3Detectors2
test
TryCaliTri
CaliTriangleDetector
ProcessTriangleCalibration
ProcessRS
CaliPlateDetector
PlateSpectrum
ProcessPlateCalibration

rootHeight*
*.ssroot
RepairData